node_modules
npm-debug.log
Dockerfile
.dockerignore
dist


*.log
.env
.env.*
*.local

.vscode
.idea
*.iml
.npm
.cache
.eslintcache

dist
dist-ssr
out
coverage

__tests__
test
tests
*.spec.ts
*.test.ts
karma.conf.js
jest.config.*
.storybook
docs