name: Tierra Monorepo CI/CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    env:
      NODE_OPTIONS: --max-old-space-size=4096

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node.js 22.15.0
        uses: actions/setup-node@v4
        with:
          node-version: "22.15.0"
          cache: "npm"

      # Backend
      - name: Install backend dependencies
        working-directory: ./backend
        run: |
          if [ -f package-lock.json ]; then
            npm ci
          elif [ -f package.json ]; then
            npm install
          else
            echo "No backend package.json, skipping"
          fi
          
      - name: Run backend unit tests
        working-directory: ./backend
        env:
          NODE_ENV: test
          GMAIL_USER: test@tierraencalma.com
          GMAIL_PASS: dummy
        run: |
          if [ -f package.json ]; then
            npm test -- --runInBand
          else
            echo "No backend project to test"
          fi
          
      # Frontend (Angular)
      - name: Install frontend dependencies
        working-directory: ./frontend
        run: |
          if [ -f package-lock.json ]; then
            npm ci
          elif [ -f package.json ]; then
            npm install
          else
            echo "No frontend package.json, skipping"
          fi

      - name: Build Angular app
        working-directory: ./frontend
        run: |
          if [ -f package.json ]; then
            npm run build
          else
            echo "No frontend project to build"
          fi

      # Login Docker Hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Mosquitto
      - name: Build and push Mosquitto image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile.mosquitto
          push: true
          tags: |
            nataliaflorezg/tierra-mosquitto:v2

      # Backend
      - name: Build and push Backend image
        uses: docker/build-push-action@v6
        with:
          context: ./backend
          file: ./backend/Dockerfile
          push: true
          tags: |
            nataliaflorezg/tierra-backend:v11

      # Frontend
      - name: Build and push Frontend image
        uses: docker/build-push-action@v6
        with:
          context: ./frontend
          file: ./frontend/Dockerfile
          push: true
          tags: |
            nataliaflorezg/tierra-frontend:v14
